# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R

cache: packages

r_packages:
  - covr

after_success:
  - Rscript -e 'library(covr); codecov()'

addons:
  apt:
    packages:
      - libudunits2-dev
      - libgdal-dev
      - libgeos-dev

warnings_are_errors: false
