http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=New%20York%2C%20NY&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<my_opencage_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<not-my-bearer-token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2496'
      x-ratelimit-reset: '1614729600'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2496,"reset":1614729600},"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<my_opencage_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"New
        York, NY","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":40.9161785,"lng":-73.7001809},"southwest":{"lat":40.477399,"lng":-74.25909}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"place","_type":"city","city":"New
        York","continent":"North America","country":"United States","country_code":"us","state":"New
        York","state_code":"NY"},"confidence":2,"formatted":"New York, New York, United
        States of America","geometry":{"lat":40.7127281,"lng":-74.0060152}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Tue, 02 Mar 2021 12:04:33
        GMT","created_unix":1614686673},"total_results":1}'
  recorded_at: 2021-03-02 12:04:38 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Kansas&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<my_opencage_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<not-my-bearer-token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=%23TheGreatOutdoors&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<my_opencage_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<not-my-bearer-token>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-rateli[...]
