http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1251954312772812801%2C1248064163211096064%2C1234206946732830720%2C1229405350178127872%2C1227652243870097408%2C1225505187453964288%2C1225137879921385472%2C1225122317849657345%2C1219758386436165633%2C1219043574555299840&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 15 Oct 2022 00:38:45 GMT
      perf: '7626143928'
      status: 200 OK
      x-access-level: read
      x-connection-hash: 0a60f444c867b1cc1483db6651fee9e8ef4c8aebaf5ddef60f4dd7d054fa21a3
      x-rate-limit-limit: '300'
      x-rate-limit-remaining: '299'
      x-rate-limit-reset: '1665795225'
      x-response-time: '130'
      x-transaction: 33f5788c8c4a071b
      x-transaction-id: 33f5788c8c4a071b
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"created_at":"Wed Feb 05 18:21:36 +0000 2020","id":1225122317849657345,"id_str":"1225122317849657345","full_text":"Many
        thanks to @AECTTechTrends for supporting our @gsa_aect with the Grad Member
        Musings column! The latest guest author is #uidaho''s Ken Cox, a first year
        doc student in our C&amp;I program and a member of my #UISTEMEdRG. https:\/\/t.co\/8MuP9Mza8f
        #aect #aect20 #aect19","truncated":false,"display_text_range":[0,268],"entities":{"hashtags":[{"text":"uidaho","indices":[124,131]},{"text":"UISTEMEdRG","indices":[210,221]},{"text":"aect","indices":[247,252]},{"text":"aect20","indices":[253,260]},{"text":"aect19","indices":[261,268]}],"symbols":[],"user_mentions":[{"screen_name":"AECTTechTrends","name":"TechTrends
        Editor","id":804807943,"id_str":"804807943","indices":[15,30]},{"screen_name":"gsa_aect","name":"AECT
        GSA","id":922536306437181440,"id_str":"922536306437181440","indices":[50,59]}],"urls":[{"url":"https:\/\/t.co\/8MuP9Mza8f","expanded_url":"https:\/\/doi.org\/10.1007\/s11528-020-00477-5","display_url":"doi.org\/10.1007\/s11528\u2026","indices":[223,246]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14215524,"id_str":"14215524","name":"Dr.
        Tonia A. Dousay","screen_name":"tadousay","location":"Anchorage, AK","description":"\u2756
        @UAAnchorage Professor \u22c4 Dean of #UAASOE \u22c4 @TAMU BS ''98 MS ''00
        \u22c4 @UniversityofGA PhD ''13 \u22c4 #disted \u22c4 #edtech \u22c4 #teachered
        \u22c4 #instructionaldesign \u2756","url":"https:\/\/t.co\/mNe8apIyuK","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/mNe8apIyuK","expanded_url":"http:\/\/about.me\/tadousay","display_url":"about.me\/tadousay","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2260,"friends_count":1362,"listed_count":179,"created_at":"Tue
        Mar 25 13:56:07 +0000 2008","favourites_count":4271,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":12241,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1563362710381023233\/5CtwRyin_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1563362710381023233\/5CtwRyin_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14215524\/1664215281","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"FAB81E","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":8,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Jan 21 23:07:15 +0000 2020","id":1219758386436165633,"id_str":"1219758386436165633","full_text":"RT
        @AECT: The #AECT19 convention proceedings are available! The papers published
        in these volumes were presented at the annual AECT Convent\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[{"text":"AECT19","indices":[14,21]}],"symbols":[],"user_mentions":[{"screen_name":"AECT","name":"\u2735
        AECT \u2735[...]
[...]
