http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=X&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Wed, 18 Jan 2023 03:39:31 GMT
      perf: '7626143928'
      status: 200 OK
      x-access-level: read
      x-connection-hash: 9407184604eecaaf47373711bce2873e9df26d3f8fc37a9b34eb5c9039b6a11b
      x-rate-limit-limit: '300'
      x-rate-limit-remaining: '248'
      x-rate-limit-reset: '1674013261'
      x-response-time: '12'
      x-transaction: 7fc4bcbdb73b0a36
      x-transaction-id: 7fc4bcbdb73b0a36
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: ''
      file: no
      string: '[]'
  recorded_at: 2023-01-18 03:39:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1580002144631279616&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 18 Jan 2023 03:39:31 GMT
      x-transaction: 0b366c4137efe6a1
      x-access-level: read
      x-transaction-id: 0b366c4137efe6a1
      x-rate-limit-limit: '300'
      x-rate-limit-reset: '1674013261'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '247'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '33'
      x-connection-hash: 9407184604eecaaf47373711bce2873e9df26d3f8fc37a9b34eb5c9039b6a11b
    body:
      encoding: ''
      file: no
      string: '[]'
  recorded_at: 2023-01-18 03:39:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1578252090102751232&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 18 Jan 2023 03:39:31 GMT
      x-transaction: 5771040012652bb0
      x-access-level: read
      x-transaction-id: 5771040012652bb0
      x-rate-limit-limit: '300'
      x-rate-limit-reset: '1674013261'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '245'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '26'
      x-connection-hash: 9407184604eecaaf47373711bce2873e9df26d3f8fc37a9b34eb5c9039b6a11b
    body:
      encoding: ''
      file: no
      string: '[{"created_at":"Fri Oct 07 05:13:15 +0000 2022","id":1578252090102751232,"id_str":"1578252090102751232","full_text":"Question:
        when you write a proposal to speak at a conference, have you already done
        the thing you want to speak about, or does the proposal give you an incentive
        to try the thing? (Mostly asking practicing teachers) \n\n#NCTMDC23 \n#TODOS2023","truncated":false,"display_text_range":[0,239],"entities":{"hashtags":[{"text":"NCTMDC23","indices":[218,227]},{"text":"TODOS2023","indices":[229,239]}],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1145914414631010304,"id_str":"1145914414631010304","name":"Michelle","screen_name":"meshellow","location":"","description":"she\/her.
        math teacher in CA. asking questions with cracked but rose tinted glasses.
        @stanforded","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":513,"friends_count":426,"listed_count":3,"created_at":"Tue
        Jul 02 04:37:41 +0000 2019","favourites_count":7351,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1700,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1342259972701184000\/UuEpFkIT_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1342259972701184000\/UuEpFkIT_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1145914414631010304\/1649915309","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":4,"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: 2023-01-18 03:39:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
