http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=X&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 15 Nov 2022 14:50:25 GMT
      x-transaction: 537dda5364189cc7
      x-access-level: read
      x-transaction-id: 537dda5364189cc7
      x-rate-limit-limit: '300'
      x-rate-limit-reset: '1668524713'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '296'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '11'
      x-connection-hash: 22a7918260d2d04aeb93b6afbd4b4ede579ee677b53bb2721b3cf79e30354833
    body:
      encoding: ''
      file: no
      string: '[]'
  recorded_at: 2022-11-15 14:50:26 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1578252090102751232&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 15 Nov 2022 14:50:25 GMT
      x-transaction: ee8c3b2d2c4972fe
      x-access-level: read
      x-transaction-id: ee8c3b2d2c4972fe
      x-rate-limit-limit: '300'
      x-rate-limit-reset: '1668524713'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '295'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '19'
      x-connection-hash: 22a7918260d2d04aeb93b6afbd4b4ede579ee677b53bb2721b3cf79e30354833
    body:
      encoding: ''
      file: no
      string: '[]'
  recorded_at: 2022-11-15 14:50:26 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1578824308260237312&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 15 Nov 2022 14:50:25 GMT
      x-transaction: 3e40ff86a62f63f4
      x-access-level: read
      x-transaction-id: 3e40ff86a62f63f4
      x-rate-limit-limit: '300'
      x-rate-limit-reset: '1668524713'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '293'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '27'
      x-connection-hash: 22a7918260d2d04aeb93b6afbd4b4ede579ee677b53bb2721b3cf79e30354833
    body:
      encoding: ''
      file: no
      string: '[{"created_at":"Sat Oct 08 19:07:02 +0000 2022","id":1578824308260237312,"id_str":"1578824308260237312","full_text":"Check
        out https:\/\/t.co\/1gCeq5ne3i from @NatBanting for fun images to get students
        reasoning about fractions. #MTBoS #iteachmath https:\/\/t.co\/SZxOcbFJYr","truncated":false,"display_text_range":[0,127],"entities":{"hashtags":[{"text":"MTBoS","indices":[109,115]},{"text":"iteachmath","indices":[116,127]}],"symbols":[],"user_mentions":[{"screen_name":"NatBanting","name":"Nat
        Banting","id":206843292,"id_str":"206843292","indices":[39,50]}],"urls":[{"url":"https:\/\/t.co\/1gCeq5ne3i","expanded_url":"http:\/\/www.fractiontalks.com\/","display_url":"fractiontalks.com","indices":[10,33]}],"media":[{"id":1578824304401211393,"id_str":"1578824304401211393","indices":[128,151],"media_url":"http:\/\/pbs.twimg.com\/media\/FekcVwKWYAE2Zpe.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FekcVwKWYAE2Zpe.jpg","url":"https:\/\/t.co\/SZxOcbFJYr","display_url":"pic.twitter.com\/SZxOcbFJYr","expanded_url":"https:\/\/twitter.com\/robertkaplinsky\/status\/1578824308260237312\/photo\/1","type":"photo","sizes":{"medium":{"w":1004,"h":939,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1004,"h":939,"resize":"fit"},"small":{"w":680,"h":636,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1578824304401211393,"id_str":"1578824304401211393","indices":[128,151],"media_url":"http:\/\/pbs.twimg.com\/media\/FekcVwKWYAE2Zpe.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/FekcVwKWYAE2Zpe.jpg","url":"https:\/\/t.co\/SZxOcbFJYr","display_url":"pic.twitter.com\/SZxOcbFJYr","expanded_url":"https:\/\/twitter.com\/robertkaplinsky\/status\/1578824308260237312\/photo\/1","type":"photo","sizes":{"medium":{"w":1004,"h":939,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1004,"h":939,"resize":"fit"},"small":{"w":680,"h":636,"resize":"fit"}},"ext_alt_text":null}]},"source":"\u003ca
        href=\"http:\/\/meetedgar.com\" rel=\"nofollow\"\u003eMeetEdgar\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":745583288,"id_str":"745583288","name":"Robert
        Kaplinsky","screen_name":"robertkaplinsky","location":"Long Beach, CA","description":"Math
        educator. Love helping teachers. @openmiddle co-founder. #OpenMiddleBook author.
        #ObserveMe creator. @GrassrootsWS Pres. Lessons & ideas: https:\/\/t.co\/njAYgWomXm","url":"http:\/\/t.co\/FvzGSiWfoT","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/FvzGSiWfoT","expanded_url":"http:\/\/robertkaplinsky.com","display_url":"robertkaplinsky.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/njAYgWomXm","expanded_url":"http:\/\/bit.ly\/rkupdates","display_url":"bit.ly\/rkupdates","indices":[143,166]}]}},"protected":false,"followers_count":56439,"friends_count":284,"listed_count":533,"created_at":"Wed
        Aug 08 17:14:25 +0000 2012","favourites_count":38504,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":22102,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"50B948","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1095794616501035008\/oeZ7e_ul_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1095794616501035008\/oeZ7e_ul_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/745583288\/1482207101","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"2D58A1","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":138,"favorite_count":537,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}]'
  recorded_at: 2022-11-15 14:50:26 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
[...]
