http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1251954312772812801%2C1248064163211096064%2C1234206946732830720%2C1229405350178127872%2C1227652243870097408%2C1225505187453964288%2C1225137879921385472%2C1225122317849657345%2C1219758386436165633%2C1219043574555299840%2C1218920618336362500%2C1218907439116029956%2C1218892385037508609%2C1218665142210252800%2C1218660838011293696%2C1218658503570620422%2C1218658503570620422%2C1218616574489366530%2C1218584870714314753%2C1218551358095273984%2C1218548[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1194337180057047041%2C1190391531900932098%2C1189962468686041088&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 15 Nov 2022 14:59:23 GMT
      x-transaction: b25cd59684f4c972
      x-access-level: read
      x-transaction-id: b25cd59684f4c972
      x-rate-limit-limit: '300'
      x-rate-limit-reset: '1668524713'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '284'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '39'
      x-connection-hash: 4cd851482cbefbad1a1062b0e08c4c9df60f5411630073230bee18b36db0f06e
    body:
      encoding: ''
      file: no
      string: '[{"created_at":"Fri Nov 01 22:13:52 +0000 2019","id":1190391531900932098,"id_str":"1190391531900932098","full_text":"We
        are a research team, but also an academic family \u2014 and we celebrate major
        life events together. Today we surprised @ISLT_FSU PhD student @kariknisely
        aka Mrs. (soon to be Dr.) Word. She and her sweetie eloped after the #AECT
        conf last week! Also: Dr. Word? Amazing, right? https:\/\/t.co\/TkBQwSjnp4","truncated":false,"display_text_range":[0,275],"entities":{"hashtags":[{"text":"AECT","indices":[222,227]}],"symbols":[],"user_mentions":[{"screen_name":"ISLT_FSU","name":"ISLT
        @ FSU","id":59857759,"id_str":"59857759","indices":[118,127]}],"urls":[],"media":[{"id":1190391521637543937,"id_str":"1190391521637543937","indices":[276,299],"media_url":"http:\/\/pbs.twimg.com\/media\/EIUeyC7XsAEoEsY.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EIUeyC7XsAEoEsY.jpg","url":"https:\/\/t.co\/TkBQwSjnp4","display_url":"pic.twitter.com\/TkBQwSjnp4","expanded_url":"https:\/\/twitter.com\/vdennen\/status\/1190391531900932098\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"medium":{"w":1200,"h":1200,"resize":"fit"},"large":{"w":2048,"h":2048,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1190391521637543937,"id_str":"1190391521637543937","indices":[276,299],"media_url":"http:\/\/pbs.twimg.com\/media\/EIUeyC7XsAEoEsY.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EIUeyC7XsAEoEsY.jpg","url":"https:\/\/t.co\/TkBQwSjnp4","display_url":"pic.twitter.com\/TkBQwSjnp4","expanded_url":"https:\/\/twitter.com\/vdennen\/status\/1190391531900932098\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"medium":{"w":1200,"h":1200,"resize":"fit"},"large":{"w":2048,"h":2048,"resize":"fit"}},"ext_alt_text":null}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":142359679,"id_str":"142359679","name":"Vanessa
        Dennen","screen_name":"vdennen","location":"Tallahassee, FL","description":"Professor
        of Instructional Systems & Learning Technologies at FSU (views are my own),
        avid traveler, amateur gardener, she\/her","url":"https:\/\/t.co\/2brlz0Rnzr","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/2brlz0Rnzr","expanded_url":"http:\/\/vanessadennen.com","display_url":"vanessadennen.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1170,"friends_count":762,"listed_count":38,"created_at":"Mon
        May 10 17:39:35 +0000 2010","favourites_count":1141,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":2131,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1137140666771918848\/ghs_iYhS_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1137140666771918848\/ghs_iYhS_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/142359679\/1584134048","profile_image_extensions_alt_text":null,"profile_banner_extensions_alt_text":null,"profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":{"id":"ecbe2aea853af44e","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/ecbe2aea853af44e.json","place_type":"city","name":"Tallahassee","full_name":"Tallahassee,
        FL","country_code":"US","country":"United States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-84.386548,30.365093],[-84.1458,30.365093],[-84.1458,30.587338],[-84.386548,30.587338]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":37,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Oct 31 17:48:55 +0000 2019","id":1189962468686041088,"id_str":"1189962468686041088","full_text":"@Cambrian_Jess
        @jmenglund03 @H5PTechnology Thanks for posting the slide deck. I wasn''t aware
        of the Pressbooks + H5P partnership. It just keeps getting better... :-)","truncated":false,"display_text_range":[43,165],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"jmenglund03","name":"jenn\u03b9\u0493er
        engl\[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1194337180057047041%2C1189959959955439616&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 15 Nov 2022 14:59:23 GMT
      x-transaction: f75365c404e5b441
      x-access-level: read
      x-transaction-id: f75365c404e5b441
      x-rate-limit-limit: '300'
      x-rate-limit-reset: '1668524713'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '282'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '53'
      x-connection-hash: 4cd851482cbefbad1a1062b0e08c4c9df60f5411630073230bee18b36db0f06e
    body:
      encoding: ''
      file: no
      string: '[{"created_at":"Thu Oct 31 17:38:57 +0000 2019","id":1189959959955439616,"id_str":"1189959959955439616","full_text":"Hi
        #OpenEd19! Interested in swapping stories \/ learning more about @H5PTechnology?
        Let\u2019s talk. Today @ 2:30 @ Cascade E.   Learn more about H5P here: https:\/\/t.co\/9UpIxA5NdR
        https:\/\/t.co\/4GcPckh9Cw","truncated":false,"display_text_range":[0,173],"entities":{"hashtags":[{"text":"OpenEd19","indices":[3,12]}],"symbols":[],"user_mentions":[{"screen_name":"H5PTechnology","name":"H5P","id":2216405440,"id_str":"2216405440","indices":[67,81]}],"urls":[{"url":"https:\/\/t.co\/9UpIxA5NdR","expanded_url":"https:\/\/docs.google.com\/presentation\/d\/19hYeg3ExsfgITIGxE_kMfxnupG6mfn5hvXEJde73xhE","display_url":"docs.google.com\/presentation\/d\u2026","indices":[150,173]},{"url":"htt[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/lookup.json?id=1194337180057047041&tweet_mode=extended&include_ext_alt_text=true
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      perf: '7626143928'
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 15 Nov 2022 14:59:23 GMT
      x-transaction: 796e46f84f5e6afc
      x-access-level: read
      x-transaction-id: 796e46f84f5e6afc
      x-rate-limit-limit: '300'
      x-rate-limit-reset: '1668524713'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '280'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '11'
      x-connection-hash: 4cd851482cbefbad1a1062b0e08c4c9df60f5411630073230bee18b36db0f06e
    body:
      encoding: ''
      file: no
      string: '[]'
  recorded_at: 2022-11-15 14:59:24 GMT
  recorded_with: vcr/1.1.0, web