http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=ifyouaskbetty%2Ccaranorth11%2Conmyway2here%2CMattheaMarquart%2Chodgesc%2CAECT%2CLiuJh_Christie%2Charmonygritz%2Cmarshallgjones%2Cshonn2nd%2Cgsa_aect%2Caectddl%2CMohamedmetwa%2Ctutaleni%2ClbukunAA%2Cmarkoteras%2CGabrielKonayuma%2Cconstatively%2Cwavinya66%2Ctadousay%2Caectclt%2CDrFrankGomez%2Cvt_idt%2CELTAugusta%2Cclement_abai%2CCherylHW%2CSebLopJr%2CUMassLinguistic%2Caectrtd%2CDavidGilbertVO%2CETHEjournal%2Cnicolapallitt%2Ccorreia65%2CemergeAfrica%2Clsbu_crit%2CTech_DrL%2Ckoubenec%2Cpattishank%2Ceromerohall%2CRoutledgeEd
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Mon, 09 Jan 2023 21:50:27 GMT
      perf: '7626143928'
      status: 200 OK
      x-access-level: read
      x-connection-hash: 21a515f5c145694227595ea75159dc2ef6601e4bb6ebac73641a885d49f204ae
      x-rate-limit-limit: '300'
      x-rate-limit-remaining: '298'
      x-rate-limit-reset: '1673301833'
      x-response-time: '149'
      x-transaction: bdf9de767c8b200b
      x-transaction-id: bdf9de767c8b200b
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: ''
      file: no
      string: '[{"id":32396916,"id_str":"32396916","name":"Betty Dannewitz","screen_name":"ifyouaskbetty","location":"Detroit,
        MI","description":"","url":"https:\/\/t.co\/9W1hC09FJi","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/9W1hC09FJi","expanded_url":"http:\/\/www.ifyouaskbetty.com","display_url":"ifyouaskbetty.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":555,"friends_count":349,"listed_count":18,"created_at":"Fri
        Apr 17 13:09:02 +0000 2009","favourites_count":3002,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1889,"lang":null,"status":{"created_at":"Wed
        Jan 04 12:00:11 +0000 2023","id":1610607018691248129,"id_str":"1610607018691248129","text":"NEW
        EPISODE!  NOW PLAYING!\n\nListen in as I chat with Jennifer Murphy and Chad
        Udell about Designing Technology to S\u2026 https:\/\/t.co\/Q17a1I12TQ","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Q17a1I12TQ","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1610607018691248129","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"https:\/\/app.socialpilot.co\/\" rel=\"nofollow\"\u003eSocialPilot.co\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1144765013145481216\/tQ8oD5Y-_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1144765013145481216\/tQ8oD5Y-_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/32396916\/1573763103","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},{"id":715304516791451648,"id_str":"715304516791451648","name":"Cara
        North","screen_name":"caranorth11","location":"\ud83c\udfe0Columbus, OH \u2764\ufe0f
        in Kentucky","description":"My last name may be North, but I still get lost
        in thought.","url":"https:\/\/t.co\/N86ZMtierd","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/N86ZMtierd","expanded_url":"https:\/\/www.thelearningcamel.com","display_url":"thelearningcamel.com","indices":[0,23]}]},"description":{"urls":[[...]
