http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=nicolapallitt%2CHarriet96152202%2CELTAugusta%2Cgsa_aect%2CAECTTechTrends%2Caectddl%2CCherylHW%2Ctutaleni%2Ctreymartindale%2CSebLopJr%2Ccorreia65%2Cmarshallgjones%2CLiuJh_Christie%2CDrFrankGomez%2CGabrielKonayuma%2CDavidGilbertVO%2Cthe80kcrew%2Cifyouaskbetty%2Cpattishank%2Cclement_abai%2Cshonn2nd%2CAECT%2Cwavinya66%2Caectclt%2Ccarolinem2040%2Cmarkoteras%2Ckoubenec%2CMohamedmetwa%2ClbukunAA%2CMattheaMarquart%2Charmonygritz%2Cconstatively%2CUMassLinguistic%2Clsbu_crit%2Cmichaelmgrant%2Cvt_idt%2Conmyway2here%2Chodgesc%2CETHEjournal%2CemergeAfrica%2Cvrodes%2C_COER_%2Csukainaw%2Cleohavemann%2CMarkJ_ohnson%2CMargyMacLibrary%2CLucyappert%2Ccherybrown%2CChri5rowell%2CRitaFennelly%2CSuzanKoseoglu%2CTech_DrL%2Ceromerohall%2CRoutledgeEd
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Tue, 09 Aug 2022 02:47:28 GMT
      x-transaction: 7f8563ce6c7d1f4c
      x-access-level: read
      x-rate-limit-limit: '300'
      x-rate-limit-reset: '1660014148'
      content-disposition: attachment; filename=json.json
      x-rate-limit-remaining: '299'
      x-twitter-response-tags: BouncerCompliant
      x-response-time: '117'
      x-connection-hash: 3430450614040805dbc8e410c38178d8e2d4c244043b90fa0daa27247a292f6b
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":118368334,"id_str":"118368334","name":"Dr Nicola Pallitt","screen_name":"nicolapallitt","location":"Grahamstown,
        South Africa","description":"EdTech @Rhodes_Uni working in @CHERTL_RU & member
        of @emergeAfrica team, #FacilitateOnline critical perspective #EdTech researcher","url":"https:\/\/t.co\/p1veXbw0pP","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/p1veXbw0pP","expanded_url":"https:\/\/scholar.google.co.za\/citations?user=rtUfOYMAAAAJ&hl=en&oi=ao","display_url":"scholar.google.co.za\/citations?user\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1753,"friends_count":1924,"listed_count":127,"created_at":"Sun
        Feb 28 13:13:53 +0000 2010","favourites_count":2040,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":7157,"lang":null,"status":{"created_at":"Fri
        Jun 17 07:25:35 +0000 2022","id":1537697954072608769,"id_str":"1537697954072608769","text":"RT
        @Neil_Selwyn: ''Frontiers in #EdTech'' - very happy to be part of this online
        seminar series hosted by @OxfordDeptofEd ... some big topics\u2026","truncated":false,"entities":{"hashtags":[{"text":"EdTech","indices":[31,38]}],"symbols":[],"user_mentions":[{"screen_name":"Neil_Selwyn","name":"Neil
        Selwyn","id":142598896,"id_str":"142598896","indices":[3,15]},{"screen_name":"OxfordDeptofEd","name":"Department
        of Education","id":1031888863843819524,"id_str":"1031888863843819524","indices":[104,119]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Jun 17 01:53:31 +0000 2022","id":1537614386541768704,"id_str":"1537614386541768704","text":"''Frontiers
        in #EdTech'' - very happy to be part of this online seminar series hosted
        by @OxfordDeptofEd ... some big\u2026 https:\/\/t.co\/A5S22ruFj7","truncated":true,"entities":{"hashtags":[{"text":"EdTech","indices":[14,21]}],"symbols":[],"user_mentions":[{"screen_name":"OxfordDeptofEd","name":"Department
        of Education","id":1031888863843819524,"id_str":"1031888863843819524","indices":[87,102]}],"urls":[{"url":"https:\/\/t.co\/A5S22ruFj7","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1537614386541768704","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":13,"favorite_count":32,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":13,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"B5F3DF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1220796671065501696\/-eiGjIEr_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1220796671065501696\/-eiGjIEr_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/118368334\/1417529001","profile_link_color":"4DC1A8","profile_sidebar_border_color":"C4C9F1","profile_sidebar_fill_color":"C3D9FD","profile_text_color":"DCFDD6","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},{"id":1251951804398669825,"id_str":"1251951804398669825","name":"Harriet
        Watkins","screen_name":"Harriet96152202","location":"","description":"Love
        educational technology, online learning and just all the things \u2026 higher
        ed!","url":"https:\/\/t.co\/ztRaRj9BLo","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/ztRaRj9BLo","expanded_url":"https:\/\/harrietwatkins.com\/","display_url":"harrietwatkins.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":f[...]
