http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=nicolapallitt%2CHarriet96152202%2CELTAugusta%2Cgsa_aect%2CAECTTechTrends%2Caectddl%2CCherylHW%2Ctutaleni%2Ctreymartindale%2CSebLopJr%2Ccorreia65%2Cmarshallgjones%2CLiuJh_Christie%2CDrFrankGomez%2CGabrielKonayuma%2CDavidGilbertVO%2Cthe80kcrew%2Cifyouaskbetty%2Cpattishank%2Cclement_abai%2Cshonn2nd%2CAECT%2Cwavinya66%2Caectclt%2Cmarkoteras%2Ckoubenec%2CMohamedmetwa%2ClbukunAA%2CMattheaMarquart%2Charmonygritz%2Cconstatively%2CUMassLinguistic%2Clsbu_crit%2Cmichaelmgrant%2Cvt_idt%2Conmyway2here%2Chodgesc%2CETHEjournal%2CemergeAfrica%2Cvrodes%2C_COER_%2Csukainaw%2Cleohavemann%2CMarkJ_ohnson%2CMargyMacLibrary%2CLucyappert%2Ccherybrown%2CChri5rowell%2CRitaFennelly%2CSuzanKoseoglu%2CTech_DrL%2Ceromerohall%2CRoutledgeEd
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Sat, 15 Oct 2022 00:45:12 GMT
      perf: '7626143928'
      status: 200 OK
      x-access-level: read
      x-connection-hash: 61406750c6d1b31ff6323bb34ec9c74d354d2751c9ea7daf73794088e2e9d4cf
      x-rate-limit-limit: '300'
      x-rate-limit-remaining: '299'
      x-rate-limit-reset: '1665795612'
      x-response-time: '267'
      x-transaction: 9731de63c000eb36
      x-transaction-id: 9731de63c000eb36
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":118368334,"id_str":"118368334","name":"Dr Nicola Pallitt","screen_name":"nicolapallitt","location":"Grahamstown,
        South Africa","description":"EdTech @Rhodes_Uni working in @CHERTL_RU & member
        of @emergeAfrica team, #FacilitateOnline critical perspective #EdTech researcher","url":"https:\/\/t.co\/p1veXbw0pP","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/p1veXbw0pP","expanded_url":"https:\/\/scholar.google.co.za\/citations?user=rtUfOYMAAAAJ&hl=en&oi=ao","display_url":"scholar.google.co.za\/citations?user\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1754,"friends_count":1923,"listed_count":124,"created_at":"Sun
        Feb 28 13:13:53 +0000 2010","favourites_count":2042,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":7163,"lang":null,"status":{"created_at":"Wed
        Oct 12 06:01:01 +0000 2022","id":1580076051371528193,"id_str":"1580076051371528193","text":"RT
        @veletsianos: In this op ed for The Globe and Mail, I argue that ditching
        online learning now - as most schools &amp; universities seem eage\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"veletsianos","name":"George
        Veletsianos, PhD","id":17883918,"id_str":"17883918","indices":[3,15]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Tue
        Oct 11 17:52:21 +0000 2022","id":1579892674848788480,"id_str":"1579892674848788480","text":"In
        this op ed for The Globe and Mail, I argue that ditching online learning now
        - as most schools &amp; universities se\u2026 https:\/\/t.co\/dQHiU7Nfpr","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/dQHiU7Nfpr","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1579892674848788480","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[121,144]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":50,"favorite_count":131,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":50,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"B5F3DF","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1220796671065501696\/-eiGjIEr_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1220796671065501696\/-eiGjIEr_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/118368334\/1417529001","profile_link_color":"4DC1A8","profile_sidebar_border_color":"C4C9F1","profile_sidebar_fill_color":"C3D9FD","profile_text_color":"DCFDD6","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none","withheld_in_countries":[]},{"id":1251951804398669825,"id_str":"1251951804398669825","name":"Harriet
        Watkins","screen_name":"Harriet96152202","location":"","description":"Love
        educational technology, online learning and just all the things \u2026 higher
        ed!","url":"https:\/\/t.co\/ztRaRj9BLo","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/ztRaRj9BLo","expanded_url":"https:\/\/harrietwatkins.com\/","display_url":"harrietwatkins.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":f[...]
