http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=gsa_aect%2CAECT
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<not-my-bearer-token>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Thu, 17 Dec 2020 12:04:51 GMT
      status: 200 OK
      x-access-level: read-write-directmessages
      x-connection-hash: abaabb3480539bbfc5c2b5181e180507
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '899'
      x-rate-limit-reset: '1608207591'
      x-response-time: '50'
      x-transaction: 006e5c88000c989c
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":922536306437181440,"id_str":"922536306437181440","name":"AECT
        GSA","screen_name":"gsa_aect","location":"","description":"The official account
        of the Graduate Student Assembly for the Association of EducationalCommunications
        and Technology","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":336,"friends_count":44,"listed_count":4,"created_at":"Mon
        Oct 23 18:52:50 +0000 2017","favourites_count":52,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1552,"lang":null,"status":{"created_at":"Thu
        Dec 17 11:22:00 +0000 2020","id":1339531284729778176,"id_str":"1339531284729778176","text":"Sometimes
        you take a position and its not what you expected.  What do you do?  #aectgsa
        #careertrackthursday\u2026 https:\/\/t.co\/pcirZnZiYp","truncated":true,"entities":{"hashtags":[{"text":"aectgsa","indices":[79,87]},{"text":"careertrackthursday","indices":[88,108]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/pcirZnZiYp","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1339531284729778176","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[110,133]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1025847363615641600\/1UylGRlO_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1025847363615641600\/1UylGRlO_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/922536306437181440\/1531449088","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},{"id":12030342,"id_str":"12030342","name":"\u2735
        AECT \u2735","screen_name":"AECT","location":"Worldwide","description":"[Association
        for Educational Communications & Technology] Supporting #educators & #professionals
        dedicated to improving #instruction through #technology.","url":"http:\/\/t.co\/lEX6USOXwI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/lEX6USOXwI","expanded_url":"http:\/\/aect.org","display_url":"aect.org","indices":[0,22]}]},"description":{[...]
