http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=gsa_aect%2CAECT
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<not-my-bearer-token>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Mon, 08 Mar 2021 17:02:00 GMT
      status: 200 OK
      x-access-level: read
      x-connection-hash: 30658d1134c634cd01ffa28ccdd1cd9c
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '899'
      x-rate-limit-reset: '1615223820'
      x-response-time: '54'
      x-transaction: 0026eee60012a264
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":922536306437181440,"id_str":"922536306437181440","name":"AECT
        GSA","screen_name":"gsa_aect","location":"","description":"The official account
        of the Graduate Student Assembly for the Association of EducationalCommunications
        and Technology","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":351,"friends_count":44,"listed_count":4,"created_at":"Mon
        Oct 23 18:52:50 +0000 2017","favourites_count":52,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1698,"lang":null,"status":{"created_at":"Mon
        Mar 08 16:53:39 +0000 2021","id":1368968165955268608,"id_str":"1368968165955268608","text":"RT
        @LiuJh_Christie: Fellow @AECT members-Please update your email filter and
        member profile emails (https:\/\/t.co\/FpzMZoyIfm) to receive wel\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"LiuJh_Christie","name":"Dr.
        Juhong Christie Liu","id":321423678,"id_str":"321423678","indices":[3,18]},{"screen_name":"AECT","name":"\u2735
        AECT \u2735","id":12030342,"id_str":"12030342","indices":[27,32]}],"urls":[{"url":"https:\/\/t.co\/FpzMZoyIfm","expanded_url":"http:\/\/AECT.org","display_url":"AECT.org","indices":[100,123]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Mar 08 11:51:01 +0000 2021","id":1368892005279993861,"id_str":"1368892005279993861","text":"Fellow
        @AECT members-Please update your email filter and member profile emails (https:\/\/t.co\/FpzMZoyIfm)
        to receive\u2026 https:\/\/t.co\/pK3DGjBrfz","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"AECT","name":"\u2735
        AECT \u2735","id":12030342,"id_str":"12030342","indices":[7,12]}],"urls":[{"url":"https:\/\/t.co\/FpzMZoyIfm","expanded_url":"http:\/\/AECT.org","display_url":"AECT.org","indices":[80,103]},{"url":"https:\/\/t.co\/pK3DGjBrfz","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1368892005279993861","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1368877152200892419,"quoted_status_id_str":"1368877152200892419","retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":true,"lang":"en"},"is_quote_status":true,"quoted_status_id":1368877152200892419,"quoted_status_id_str":"1368877152200892419","retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1025847363615641600\/1UylGRlO_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1025847363615641600\/1UylGRlO_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/922536306437181440\/1531449088","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},{"id":12030342,"id_str":"12030342","name":"\u2735
        AECT \u2735","screen_name":"AECT","location":"Worldwide","description":"[Association
        for Educational Communications & Technology] Supporting #educators & #professionals
        dedicated to improving #instruction through #technology.","url":"http:\/\/t.co\/lEX6USOXwI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/lEX6USOXwI","expanded_url":"http:\/\/aect.org","display_url":"aect.org","indices":[0,22]}]},"description":{[...]
