http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/lookup.json?screen_name=gsa_aect%2CAECT
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<not-my-bearer-token>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename=json.json
      content-type: application/json;charset=utf-8
      last-modified: Thu, 18 Nov 2021 04:07:35 GMT
      status: 200 OK
      x-access-level: read
      x-connection-hash: 5644ae4df52518fc99cb0b3c294006989a5708232dc00d98518ce56c8db74239
      x-rate-limit-limit: '900'
      x-rate-limit-remaining: '899'
      x-rate-limit-reset: '1637209355'
      x-response-time: '54'
      x-transaction: 00370532c89e0ee4
      x-twitter-response-tags: BouncerCompliant
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":922536306437181440,"id_str":"922536306437181440","name":"AECT
        GSA","screen_name":"gsa_aect","location":"","description":"The official account
        of the Graduate Student Assembly for the Association of EducationalCommunications
        and Technology","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":416,"friends_count":45,"listed_count":4,"created_at":"Mon
        Oct 23 18:52:50 +0000 2017","favourites_count":77,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2106,"lang":null,"status":{"created_at":"Wed
        Nov 17 13:42:46 +0000 2021","id":1460966645405569026,"id_str":"1460966645405569026","text":"For
        #CareerTrackThursday, let''s highlight the Instructional Design career - check
        out \"A Day in the Life of an Inst\u2026 https:\/\/t.co\/XAWWMct9m4","truncated":true,"entities":{"hashtags":[{"text":"CareerTrackThursday","indices":[4,24]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/XAWWMct9m4","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1460966645405569026","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":3,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1025847363615641600\/1UylGRlO_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1025847363615641600\/1UylGRlO_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/922536306437181440\/1531449088","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},{"id":12030342,"id_str":"12030342","name":"\u2735
        AECT \u2735","screen_name":"AECT","location":"Worldwide","description":"[Association
        for Educational Communications & Technology] Supporting #educators & #professionals
        dedicated to improving #instruction through #technology.","url":"http:\/\/t.co\/lEX6USOXwI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/lEX6USOXwI","expanded_url":"http:\/\/aect.org","display_url":"aect.org","indices":[0,22]}]},"description":{"url[...]
